In [1]:
import pandas as pd

In [2]:
## üìç 2. Pandas ma‚Äôlumot tuzilmalari: Series va DataFrame
# Pandas ikkita asosiy obyektga ega:

# Series ‚Äì bitta o‚Äòlchamli ma‚Äôlumotlar to‚Äòplami (1D).
# DataFrame ‚Äì ikki o‚Äòlchamli jadval ko‚Äòrinishidagi ma‚Äôlumotlar to‚Äòplami (2D).

In [5]:
#  1D ‚Äì Series yaratish

data = [10, 20, 30, 40]
s = pd.Series(data)
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Series indekslanadi
s[1]

np.int64(20)

In [8]:
# 2D ‚Äì DataFrame yaratish
data = {
    "Ism": ["Ali", "Vali", "Hasan"],
    "Yosh": [25, 30, 22],
    "Shahar": ["Toshkent", "Samarqand", "Buxoro"]
}

df = pd.DataFrame(data)
df

     Ism  Yosh     Shahar
0    Ali    25   Toshkent
1   Vali    30  Samarqand
2  Hasan    22     Buxoro

In [10]:
df = pd.read_csv("data.csv")  # "data.csv" o'rniga fayl nomini yozing
df.head() # Birinchi 5 qatorni ko‚Äòrish

   ID     Ism  Yosh     Shahar                     Kasb  Maosh
0   1     Ali    25   Toshkent                Dasturchi  12000
1   2    Vali    30  Samarqand                 Muhandis  11000
2   3   Hasan    22     Buxoro               O'qituvchi   8000
3   4  Kamola    27   Namangan                 Shifokor  15000
4   5    Ozod    35   Farg'ona  Hayot sug'urtasi agenti   9000

In [11]:
df.to_csv("output.csv", index=False)  # index=False indeksni saqlamaslik uchun

In [14]:
df = pd.read_excel("data.xlsx")
df.to_excel("output.xlsx", index=False)