In [1]:
import pandas as pd

In [2]:
## üìç 2. Pandas ma‚Äôlumot tuzilmalari: Series va DataFrame
# Pandas ikkita asosiy obyektga ega:

# Series ‚Äì bitta o‚Äòlchamli ma‚Äôlumotlar to‚Äòplami (1D).
# DataFrame ‚Äì ikki o‚Äòlchamli jadval ko‚Äòrinishidagi ma‚Äôlumotlar to‚Äòplami (2D).

In [5]:
#  1D ‚Äì Series yaratish

data = [10, 20, 30, 40]
s = pd.Series(data)
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Series indekslanadi
s[1]

np.int64(20)

In [8]:
# 2D ‚Äì DataFrame yaratish
data = {
    "Ism": ["Ali", "Vali", "Hasan"],
    "Yosh": [25, 30, 22],
    "Shahar": ["Toshkent", "Samarqand", "Buxoro"]
}

df = pd.DataFrame(data)
df

     Ism  Yosh     Shahar
0    Ali    25   Toshkent
1   Vali    30  Samarqand
2  Hasan    22     Buxoro